node_modules
package-lock.json
yarn-error.log
.DS_Store
src/swagger
certs/*
.temp
src/routes.ts

#
#
!certs/certs.sh
!certs/server.cnf
!certs/v3.ext
#
latest.zip
received-upgrades/*.zip
firmwares/*.zip
